.idea/.name
.idea/dictionaries/y_febles.xml
.idea/encodings.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/kivy projects.iml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/workspace.xml
screens/AuthorScreen.pyc
screens/LevelsScreen.pyc
screens/MenuScreen.pyc
screens/SettingsScreen.pyc
core/Board.pyc
core/Board.pyc
core/Board.pyc
core/BoardCell.pyc
core/Level.pyc
core/LevelItem.pyc
screens/PlayScreen.pyc
utils.pyc
*.pyc
*.pyc
assets/images/items/iceberg.jpg
*.png
*.jpg
*.png
*.png
